[global]
frame_color = "{{color2}}"
separator_color = "frame"

[urgency_low]
background = "{{background}}CC"
foreground = "{{color8}}"

[urgency_normal]
background = "{{background}}CC"
foreground = "{{foreground}}"

[urgency_critical]
background = "{{color1}}CC"
foreground = "{{foreground}}"
frame_color = "{{color1}}"
