@define-color accent_color {{ color4 | lighten(0.35) }};
@define-color accent_bg_color {{ color4 | lighten(0.25) }};
@define-color accent_fg_color {{ background }};

@define-color destructive_color {{ color1 | lighten(0.45) }};
@define-color destructive_bg_color {{ color1 | lighten(0.3) }};
@define-color destructive_fg_color {{ foreground }};

@define-color success_color {{ color2 | lighten(0.45) }};
@define-color success_bg_color {{ color2 | lighten(0.3) }};
@define-color success_fg_color {{ background }};

@define-color warning_color {{ color3 | lighten(0.4) }};
@define-color warning_bg_color {{ color3 | lighten(0.25) }};
@define-color warning_fg_color {{ background }};

@define-color error_color {{ color1 | lighten(0.45) }};
@define-color error_bg_color {{ color1 | lighten(0.3) }};
@define-color error_fg_color {{ foreground }};

@define-color window_bg_color {{ background }};
@define-color window_fg_color {{ foreground }};

@define-color view_bg_color {{ color0 }};
@define-color view_fg_color {{ foreground }};

@define-color headerbar_bg_color {{ color0 }};
@define-color headerbar_fg_color {{ foreground }};
@define-color headerbar_border_color {{ color8 }};
@define-color headerbar_backdrop_color {{ background }};
@define-color headerbar_shade_color {{ color0 }};
@define-color headerbar_darker_shade_color {{ background }};

@define-color sidebar_bg_color {{ color0 }};
@define-color sidebar_fg_color {{ foreground }};
@define-color sidebar_backdrop_color {{ background }};
@define-color sidebar_shade_color {{ color0 }};
@define-color sidebar_border_color {{ color8 }};

@define-color secondary_sidebar_bg_color {{ color0 }};
@define-color secondary_sidebar_fg_color {{ foreground }};
@define-color secondary_sidebar_backdrop_color {{ background }};
@define-color secondary_sidebar_shade_color {{ color0 }};
@define-color secondary_sidebar_border_color {{ color8 }};

@define-color card_bg_color {{ color0 }};
@define-color card_fg_color {{ foreground }};
@define-color card_shade_color {{ background }};

@define-color dialog_bg_color {{ background }};
@define-color dialog_fg_color {{ foreground }};

@define-color popover_bg_color {{ color0 }};
@define-color popover_fg_color {{ foreground }};
@define-color popover_shade_color {{ background }};

@define-color thumbnail_bg_color {{ color0 }};
@define-color thumbnail_fg_color {{ foreground }};

@define-color shade_color {{ background }};
@define-color scrollbar_outline_color {{ color8 }};
