[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{ color0 | rgb }}
BackgroundNormal={{ color0 | lighten(0.08) | rgb }}
DecorationFocus={{ color4 | lighten(0.35) | rgb }}
DecorationHover={{ color4 | lighten(0.35) | rgb }}
ForegroundActive={{ color4 | lighten(0.35) | rgb }}
ForegroundInactive={{ color7 | darken(0.25) | rgb }}
ForegroundLink={{ color6 | lighten(0.25) | rgb }}
ForegroundNegative={{ color1 | lighten(0.4) | rgb }}
ForegroundNeutral={{ color3 | lighten(0.35) | rgb }}
ForegroundNormal={{ foreground | rgb }}
ForegroundPositive={{ color2 | lighten(0.4) | rgb }}
ForegroundVisited={{ color5 | lighten(0.25) | rgb }}

[Colors:Complementary]
BackgroundAlternate={{ color0 | rgb }}
BackgroundNormal={{ background | rgb }}
DecorationFocus={{ color4 | lighten(0.35) | rgb }}
DecorationHover={{ color4 | lighten(0.35) | rgb }}
ForegroundActive={{ color4 | lighten(0.35) | rgb }}
ForegroundInactive={{ color7 | darken(0.25) | rgb }}
ForegroundLink={{ color6 | lighten(0.25) | rgb }}
ForegroundNegative={{ color1 | lighten(0.4) | rgb }}
ForegroundNeutral={{ color3 | lighten(0.35) | rgb }}
ForegroundNormal={{ foreground | rgb }}
ForegroundPositive={{ color2 | lighten(0.4) | rgb }}
ForegroundVisited={{ color5 | lighten(0.25) | rgb }}

[Colors:Header]
BackgroundAlternate={{ background | rgb }}
BackgroundNormal={{ color0 | rgb }}
DecorationFocus={{ color4 | lighten(0.35) | rgb }}
DecorationHover={{ color4 | lighten(0.35) | rgb }}
ForegroundActive={{ color4 | lighten(0.35) | rgb }}
ForegroundInactive={{ color7 | darken(0.25) | rgb }}
ForegroundLink={{ color6 | lighten(0.25) | rgb }}
ForegroundNegative={{ color1 | lighten(0.4) | rgb }}
ForegroundNeutral={{ color3 | lighten(0.35) | rgb }}
ForegroundNormal={{ foreground | rgb }}
ForegroundPositive={{ color2 | lighten(0.4) | rgb }}
ForegroundVisited={{ color5 | lighten(0.25) | rgb }}

[Colors:Header][Inactive]
BackgroundAlternate={{ color0 | rgb }}
BackgroundNormal={{ background | rgb }}
DecorationFocus={{ color4 | lighten(0.35) | rgb }}
DecorationHover={{ color4 | lighten(0.35) | rgb }}
ForegroundActive={{ color4 | lighten(0.35) | rgb }}
ForegroundInactive={{ color7 | darken(0.25) | rgb }}
ForegroundLink={{ color6 | lighten(0.25) | rgb }}
ForegroundNegative={{ color1 | lighten(0.4) | rgb }}
ForegroundNeutral={{ color3 | lighten(0.35) | rgb }}
ForegroundNormal={{ foreground | rgb }}
ForegroundPositive={{ color2 | lighten(0.4) | rgb }}
ForegroundVisited={{ color5 | lighten(0.25) | rgb }}

[Colors:Selection]
BackgroundAlternate={{ color4 | lighten(0.15) | rgb }}
BackgroundNormal={{ color4 | lighten(0.3) | rgb }}
DecorationFocus={{ color4 | lighten(0.35) | rgb }}
DecorationHover={{ color4 | lighten(0.35) | rgb }}
ForegroundActive={{ foreground | rgb }}
ForegroundInactive={{ color7 | darken(0.15) | rgb }}
ForegroundLink={{ color6 | lighten(0.35) | rgb }}
ForegroundNegative={{ color1 | lighten(0.45) | rgb }}
ForegroundNeutral={{ color3 | lighten(0.4) | rgb }}
ForegroundNormal={{ background | rgb }}
ForegroundPositive={{ color2 | lighten(0.45) | rgb }}
ForegroundVisited={{ color5 | lighten(0.35) | rgb }}

[Colors:Tooltip]
BackgroundAlternate={{ background | rgb }}
BackgroundNormal={{ color0 | rgb }}
DecorationFocus={{ color4 | lighten(0.35) | rgb }}
DecorationHover={{ color4 | lighten(0.35) | rgb }}
ForegroundActive={{ color4 | lighten(0.35) | rgb }}
ForegroundInactive={{ color7 | darken(0.25) | rgb }}
ForegroundLink={{ color6 | lighten(0.25) | rgb }}
ForegroundNegative={{ color1 | lighten(0.4) | rgb }}
ForegroundNeutral={{ color3 | lighten(0.35) | rgb }}
ForegroundNormal={{ foreground | rgb }}
ForegroundPositive={{ color2 | lighten(0.4) | rgb }}
ForegroundVisited={{ color5 | lighten(0.25) | rgb }}

[Colors:View]
BackgroundAlternate={{ color0 | lighten(0.05) | rgb }}
BackgroundNormal={{ color0 | rgb }}
DecorationFocus={{ color4 | lighten(0.35) | rgb }}
DecorationHover={{ color4 | lighten(0.35) | rgb }}
ForegroundActive={{ color4 | lighten(0.35) | rgb }}
ForegroundInactive={{ color7 | darken(0.25) | rgb }}
ForegroundLink={{ color6 | lighten(0.25) | rgb }}
ForegroundNegative={{ color1 | lighten(0.4) | rgb }}
ForegroundNeutral={{ color3 | lighten(0.35) | rgb }}
ForegroundNormal={{ foreground | rgb }}
ForegroundPositive={{ color2 | lighten(0.4) | rgb }}
ForegroundVisited={{ color5 | lighten(0.25) | rgb }}

[Colors:Window]
BackgroundAlternate={{ color0 | rgb }}
BackgroundNormal={{ background | rgb }}
DecorationFocus={{ color4 | lighten(0.35) | rgb }}
DecorationHover={{ color4 | lighten(0.35) | rgb }}
ForegroundActive={{ color4 | lighten(0.35) | rgb }}
ForegroundInactive={{ color7 | darken(0.25) | rgb }}
ForegroundLink={{ color6 | lighten(0.25) | rgb }}
ForegroundNegative={{ color1 | lighten(0.4) | rgb }}
ForegroundNeutral={{ color3 | lighten(0.35) | rgb }}
ForegroundNormal={{ foreground | rgb }}
ForegroundPositive={{ color2 | lighten(0.4) | rgb }}
ForegroundVisited={{ color5 | lighten(0.25) | rgb }}

[General]
ColorScheme=Wallust
Name=Wallust
shadeFactor=0
wallpaperFile=

[WM]
activeBackground={{ color0 | rgb }}
activeBlend={{ foreground | rgb }}
activeForeground={{ foreground | rgb }}
inactiveBackground={{ background | rgb }}
inactiveBlend={{ color7 | darken(0.25) | rgb }}
inactiveForeground={{ color7 | darken(0.25) | rgb }}
