* {
    background:                  {{background}};
    background-alt:              {{color0}};
    foreground:                  {{foreground}};
    selected:                    {{color2}};
    active:                      {{color4}};
    urgent:                      {{color1}};
}