@define-color backgroundlight {{background}};
@define-color backgrounddark {{color0}};
@define-color workspacesbackground1 {{background}};
@define-color bordercolor {{color2}};
@define-color textcolor1 {{foreground}};
@define-color textcolor2 {{foreground}};
@define-color textcolor3 {{color7}};
@define-color iconcolor {{color2}};
