[colors]
ansi = [
    "{{color0}}",
    "{{color1 | lighten(0.5)}}",
    "{{color2 | lighten(0.5)}}",
    "{{color3 | lighten(0.35)}}",
    "{{color4 | lighten(0.4)}}",
    "{{color5 | lighten(0.35)}}",
    "{{color6 | lighten(0.35)}}",
    "{{foreground}}",
]
background = "{{background}}"
brights = [
    "{{color8 | lighten(0.25)}}",
    "{{color9 | lighten(0.55)}}",
    "{{color10 | lighten(0.55)}}",
    "{{color11 | lighten(0.4)}}",
    "{{color12 | lighten(0.45)}}",
    "{{color13 | lighten(0.4)}}",
    "{{color14 | lighten(0.4)}}",
    "{{color15 | lighten(0.15)}}",
]
cursor_bg = "{{cursor | lighten(0.25)}}"
cursor_border = "{{cursor | lighten(0.25)}}"
cursor_fg = "{{background}}"
foreground = "{{foreground}}"
selection_bg = "{{color4 | lighten(0.25)}}"
selection_fg = "{{background}}"

[metadata]
name = "wallust"
author = "wallust"
