theme = "wallust"
mouse = true
peaks = "auto"

[themes.wallust]
inherit = "default"
selector = { fg = "{{color4}}", add_modifier = "BOLD" }
tab = { fg = "{{color7}}" }
tab_selected = { fg = "{{foreground}}", add_modifier = "BOLD" }
volume_filled = { fg = "{{color4}}" }
volume_empty = { fg = "{{color8}}" }
meter_active = { fg = "{{color3}}" }
meter_inactive = { fg = "{{color8}}" }
meter_overload = { fg = "{{color1}}", add_modifier = "BOLD" }
dropdown_selected = { fg = "{{background}}", bg = "{{color4}}" }
default_device = { fg = "{{color6}}" }
